<%= form_for(@donation_type) do |f| %>
  <% if @donation_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation_type.errors.count, "error") %> prohibited this donation_type from being saved:</h2>

      <ul>
      <% @donation_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :donation_type %><br />
    <%= f.text_field :donation_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
