<%= form_for(@donor) do |f| %>
  <% if @donor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donor.errors.count, "error") %> prohibited this donor from being saved:</h2>

      <ul>
      <% @donor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
<legend>Personal Information</legend>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :donor_type %><br />
    <%= f.select(:donor_type, %w{Individual Alumni Institution Company Volunteer Overseas}) %>
  </div>
  <div class="field">
    <%= f.label :gender %>
   Male
    <%= f.radio_button :gender, "Male" %>
   Female
    <%= f.radio_button :gender, "Female" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.date_select :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label "Suite/Apt No." %>
    <%= f.text_field :address_first_line %>
  </div>
  <div class="field">
    <%= f.label "Street/Road" %>
    <%= f.text_field :address_second_line %>
  </div>
  <div class="field">
    <%= f.label "Landmark" %>
    <%= f.text_field :address_landmark %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.select(:city, %w{Bangalore Dharwad Belgaum Mumbai Ranchi NewYork Beijing}) %>
    <%= f.label :state %>
    <%= f.select(:state, %w{Maharashtra Karnataka Bihar Charlotte Shanghai}) %>
    <%= f.label :country %>
    <%= f.select(:country, %w{India USA China}) %>
  </div>
  <div class="field">
    <%= f.label :pincode %>
    <%= f.text_field :pincode %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :mobile %>
    <%= f.text_field :mobile %>
  </div>
</fieldset>

<fieldset>
<legend>Login Information</legend>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
</fieldset>

<fieldset>
<legend> Want to remain Anonymous?</legend>
    <div class="field">
    <%= f.check_box :anonymous %>
    I want to remain Anonymous. I do not want my information to be shown publically.
  </div>
</fieldset>

<fieldset>
<legend> Your comment here</legend>
  <div class="field">
    <%= f.text_area :comment %>
  </div>
</fieldset>
<br />

  <div class="actions">
    <%= f.submit :class => "button"%>
  </div>
<% end %>

