<h1>CHANGE DONOR INFORMATION FOR
<%= @donor.first_name %> <%= @donor.last_name %>
ID: <%= @donor.id %>
</h1>

<%= render 'form' %>

<%= link_to 'Show', @donor %> |
<%= link_to 'Back', donors_path %>

