<h1>LISTING ALL DONORS INFORMATION</h1>
<%= link_to 'Add New Donor', new_donor_path %>
<hr />

<table id="donors">
  <tr>
    <th>Donor Details</th>
    <th>Contact Details</th>
    <th>Address Details</th>
    <th>Actions</th>
  </tr>

<% @donors.each do |donor| %>
  <tr>
    <td>
       <table id="container">
          <tr>
          <td>Name:</td>
          <td colspan="4"><%= donor.first_name %> <%= donor.last_name %></td>
          </tr>
          <tr>
          <td>DOB:</td>
          <td colspan="4"><%= donor.date_of_birth %></td>
          </tr>
          <tr>
          <td>Gender:</td>
          <td><%= donor.gender %></td>
          <td colspan="2">Anonymous:</td>
          <td><%= donor.anonymous %></td>
          </tr>
       </table>
    </td>
    <td>
       <table id="container">
          <tr>
          <td>Email:</td>
          <td colspan="4"><%= donor.email %></td>
          </tr>
          <tr>
          <td>Phone:</td>
          <td><%= donor.phone %></td>
          <td>Mobile:</td>
          <td><%= donor.mobile %></td>
          </tr>
          <tr>
          <td>Comment:</td>
          <td colspan="4"><%= donor.comment %></td>
          </tr>
       </table>
    </td>
    <td>
       <table id="container">
          <tr>
          <td>Address Line1:</td>
          <td colspan="5"><%= donor.address_first_line %></td>
          </tr>
          <tr>
          <td>Address Line2:</td>
          <td colspan="5"><%= donor.address_second_line %></td>
          </tr>
          <tr>
          <td>Landmark:</td>
          <td colspan="4"><%= donor.address_landmark %></td>
          </tr>
          <tr>
          <td><%= donor.city %></td>
          <td colspan="2"><%= donor.state %></td>
          <td><%= donor.country %></td>
          <td><%= donor.pincode %></td>
          </tr>
       </table>
    </td>
    <td>
       <table id="container">
          <tr>
          <td><%= link_to 'Show', donor %></td>
          </tr>
          <tr>
          <td><%= link_to 'Edit', edit_donor_path(donor) %></td>
          </tr>
          <tr>
          <td><%= link_to 'Destroy', donor, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
       </table>
    </td> 
  <tr>
<% end %>
</table>
<hr />
<h4> Follow the Actions Column Links to perform any action on any Donor </h4>


