<h1>DONOR SEARCH RESULTS</h1>

<%= link_to 'Export to EXCEL', search_results_donors_path(request.parameters.merge({:format => :xls})) %>
<br />
<% if current_user.role == "super_admin" %>
  QUERY: <%= @donors.to_sql %>
<% end %>

<table id="donors">
  <tr>
    <th>Donor Details</th>
    <th>Contact Details</th>
    <th>Address Details</th>
    <th>Actions</th>
  </tr>

<% @donors.each do |donor| %>
  <!-- Only show the list of donors for the current user -->
  <!-- But all needs to be shown for admin and moderator -->
  <% if (user_signed_in?) && (can? :read, donor) %>

  <!-- <tr onMouseOver="this.className='highlight'" onMouseOut="this.className='normal'"> -->
  <tr>
    <td>
       <table id="container">
          <tr>
          <td>Name:</td>
          <td colspan="4"><%= donor.title %> <%= donor.first_name %> <%= donor.last_name %></td>
          </tr>
          <tr>
          <td>DOB:</td>
          <td colspan="4"><%= donor.date_of_birth %></td>
          </tr>
          <tr>
          <td>Donor Type:</td>
          <td colspan="4"><%= donor.donor_type %></td>
          </tr>
          <tr>
          <td>Gender:</td>
          <td><%= donor.gender %></td>
          <td colspan="2">Anonymous:</td>
          <td><%= donor.anonymous %></td>
          </tr>
       </table>
    </td>
    <td>
       <table id="container">
          <tr>
          <td>Email:</td>
          <td colspan="4"><%= donor.email %></td>
          </tr>
          <tr>
          <td>Phone:</td>
          <td><%= donor.phone %></td>
          <td>Mobile:</td>
          <td><%= donor.mobile %></td>
          </tr>
          <tr>
          <td>District:</td>
          <td colspan="4"><%= donor.district %></td>
          </tr>
          <tr>
          <td>Comment:</td>
          <td colspan="4"><%= donor.comment %></td>
          </tr>
       </table>
    </td>
    <td>
       <table id="container">
          <tr>
          <td>Address Line1:</td>
          <td colspan="5"><%= donor.address_first_line %></td>
          </tr>
          <tr>
          <td>Address Line2:</td>
          <td colspan="5"><%= donor.address_second_line %></td>
          </tr>
          <tr>
          <td>Landmark:</td>
          <td colspan="4"><%= donor.address_landmark %></td>
          </tr>
          <tr>
          <td><%= donor.city %></td>
          <td colspan="2"><%= donor.state %></td>
          <td><%= donor.country %></td>
          <td><%= donor.pincode %></td>
          </tr>
       </table>
    </td>
    <td>
        <%= link_to 'Show', donor %>

        <% if can? :update, donor %>
          | <%= link_to 'Edit', edit_donor_path(donor) %>
        <% end %>
        <% if can? :destroy, donor %>
          | <%= link_to 'Destroy', donor, confirm: 'Are you sure?', method: :delete %>
        <% end %>
    </td>
  <tr>

    <% end %>

<% end %>
</table>

