<p id="notice"><%= notice %></p>

<h1>
SHOWING DONOR INFORMATION FOR
<%= @donor.first_name %> <%= @donor.last_name %>
ID: <%= @donor.id %>
</h1>
<h3 id="alert">NOTE: You cannot change any Profile information here. However, you can DONATE newly</h3>

<%= form_for(@donor) do |f| %>
<fieldset>
<legend>Personal Information</legend>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :donor_type %><br />
    <%= f.text_field :donor_type, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender, :disabled => true %>
  </div>
  <br />
  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.text_field :date_of_birth, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label "Suite/Apt No." %>
    <%= f.text_field :address_first_line, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label "Street/Road" %>
    <%= f.text_field :address_second_line, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label "Landmark" %>
    <%= f.text_field :address_landmark, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label "District" %>
    <%= f.text_field :district, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city, :disabled => true %>
    <%= f.label :state %>
    <%= f.text_field :state, :disabled => true %>
    <%= f.label :country %>
    <%= f.text_field :country, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :pincode %>
    <%= f.text_field :pincode, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :mobile %>
    <%= f.text_field :mobile, :disabled => true %>
  </div>
</fieldset>

<fieldset>
<legend> Want to remain Anonymous?</legend>
    <div class="field">
    <%= f.check_box :anonymous, :disabled => true %>
    I want to remain Anonymous. I do not want my information to be shown publically.
  </div>
</fieldset>

<fieldset>
<legend> Your comment here</legend>
  <div class="field">
    <%= f.text_area :comment, :disabled => true %>
  </div>
</fieldset>
<% end %>

<% if can? :update, @donor %>
<%= link_to 'Edit', edit_donor_path(@donor) %> |
<% end %>
<%= link_to 'Back', donors_path %>

<%= render :partial => 'donation_index', :locals => {:donations=>@donor.donations} %>
<%= render :partial => 'donation_new', :locals => {:donation=>Donation.new(:donor_id => @donor.id)} %>

<%# Get the list of all unique students for this donor using the below logic -%>
<% all_donations = @donor.donations %>
<% all_student_ids = [] %>
<% all_donations.each do |this_donation| %>
  <% all_yearly_details = this_donation.yearly_details %>
  <% all_yearly_details.each do |this_yearly_detail| %>
    <% unless all_student_ids.include?(this_yearly_detail.student_id) %>
      <% all_student_ids << this_yearly_detail.student_id %>
    <% end %>
  <% end %>
<% end %>

<%= render :partial => 'student_index', :locals => {:students=>Student.find_all_by_id(all_student_ids).uniq} %>

