<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend>Official Information</legend>
    <div class="field">
      <%= f.label :district %>
      <%= f.collection_select :district,
      		StudentDistrict.all(:order => 'district'),
      		:district, :district,
      		:prompt => "Select District", :include_blank => true %>
    </div>
    <div class="field">
      <%= f.label :taluka %>
      <%= f.collection_select :taluka,
      		StudentTaluka.all(:order => 'taluka'),
      		:taluka, :taluka,
      		:prompt => "Select Taluka", :include_blank => true %>
    </div>
    <div class="field">
      <%= f.label "VP ID" %>
      <%= f.text_field :vp_id %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Personal Information</legend>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :gender %>
      Boy
      <%= f.radio_button :gender, "Boy" %>
      Girl
      <%= f.radio_button :gender, "Girl" %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :date_of_birth %>
      <%= f.date_select :date_of_birth, :start_year => 1970, :end_year => Time.now.year,
          :order => [:day, :month, :year],
          :prompt => true %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Parental Information</legend>
    <div class="field">
      <%= f.label :father_name %>
      <%= f.text_field :father_name %>
    </div>
    <div class="field">
      <%= f.label :father_occupation %>
      <%= f.collection_select :father_occupation,
          StudentParentOccupation.all(:order => 'occupation_name'),
          :occupation_name, :occupation_name,
          :prompt => "Select Father's Occupation", :include_blank => true %>
    </div><br />
    <div class="field">
      <%= f.label :mother_occupation %>
      <%= f.collection_select :mother_occupation,
          StudentParentOccupation.all(:order => 'occupation_name'),
          :occupation_name, :occupation_name,
          :prompt => "Select Mother's Occupation", :include_blank => true %>
    </div><br />
    <div class="field">
      <%= f.label "Total Income" %>
      <%= f.text_field :total_family_income %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Additional Information</legend>
    <div class="field">
      <%= f.label :area_type %>
      <%= f.collection_select :area_type,
          StudentAreaType.all(:order => 'area_type_name'),
          :area_type_name, :area_type_name,
          :prompt => "Select Area Type", :include_blank => true %>
    </div>
    <div class="field">
      <%= f.label :caste %>
      <%= f.collection_select :caste,
          StudentCaste.all, :caste_name, :caste_name,
          :prompt => "Select Caste", :include_blank => true %>
    </div>
    <div class="field">
      <%= f.label :category %>
      <%= f.collection_select :category,
          StudentCategory.all, :category_name, :category_name,
          :prompt => "Select Category", :include_blank => true %>
    </div>
    <div class="field">
      <%= f.label :studied_medium %>
      <%= f.collection_select :studied_medium,
          StudentStudyMed.all(:order => 'medium_name'),
          :medium_name, :medium_name,
          :prompt => "Select Study Medium", :include_blank => true %>
    </div><br />
    <div class="field">
      <%= f.label "SSLC %age" %>
      <%= f.text_field :sslc_percentage %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Permanent Address</legend>
    <div class="field">
      <%= f.label "Line 1" %>
      <%= f.text_field :pmt_address_line1 %>
    </div>
    <div class="field">
      <%= f.label "Line 2" %>
      <%= f.text_field :pmt_address_line2 %>
    </div>
    <div class="field">
      <%= f.label "Landmark" %>
      <%= f.text_field :pmt_landmark %>
    </div>
    <div class="field">
      <%= f.label "City" %>
      <%= f.select(:pmt_city, %w{Bangalore Dharwad Belgaum Mumbai Ranchi NewYork Beijing},
      :prompt => "Select City", :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label "State" %>
      <%= f.select(:pmt_state, %w{Maharashtra Karnataka Bihar Charlotte Shanghai},
      :prompt => "Select State", :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label "Country" %>
      <%= f.select(:pmt_country, %w{India USA China},
      :prompt => "Select Country", :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label "Pincode" %>
      <%= f.text_field :pmt_pincode %>
    </div>
    <div class="field">
      <%= f.label "Full Address (Import case)" %>
      <%= f.text_area :pmt_full_address %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Current Address</legend>
    <div class="field">
      <%= f.label "Line 1" %>
      <%= f.text_field :cur_address_line1 %>
    </div>
    <div class="field">
      <%= f.label "Line 2" %>
      <%= f.text_field :cur_address_line2 %>
    </div>
    <div class="field">
      <%= f.label "Landmark" %>
      <%= f.text_field :cur_landmark %>
    </div>
    <div class="field">
      <%= f.label "City" %>
      <%= f.select(:cur_city, %w{Bangalore Dharwad Belgaum Mumbai Ranchi NewYork Beijing},
      :prompt => "Select City", :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label "State" %>
      <%= f.select(:cur_state, %w{Maharashtra Karnataka Bihar Charlotte Shanghai},
      :prompt => "Select State", :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label "Country" %>
      <%= f.select(:cur_country, %w{India USA China},
      :prompt => "Select Country", :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label "Pincode" %>
      <%= f.text_field :cur_pincode %>
    </div>
    <div class="field">
      <%= f.label "Full Address (Import Case)" %>
      <%= f.text_area :cur_full_address %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Contact Information</legend>
    <div class="field">
      <%= f.label :primary_phone %>
      <%= f.text_field :primary_phone %>
    </div>
    <div class="field">
      <%= f.label :additional_phone %>
      <%= f.text_field :additional_phone %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Comments</legend>
    <div class="field">
      <%= f.text_area :comments %>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

