<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend>Official Information</legend>
    <div class="field">
      <%= f.label :district %>
      <%= f.select(:district, %w{Dharwad Bengaluru Belgaum Raigad Kolhapur Hubli}) %>
    </div>
    <div class="field">
      <%= f.label :taluka %>
      <%= f.select(:taluka, %w{Taluka1 Taluka2 Taluka3 Taluka4 Taluka5 Taluka6}) %>
    </div>
    <div class="field">
      <%= f.label "VP ID" %>
      <%= f.text_field :vp_id %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Personal Information</legend>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :gender %>
      Male
      <%= f.radio_button :gender, "Male" %>
      Female
      <%= f.radio_button :gender, "Female" %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :date_of_birth %>
      <%= f.date_select :date_of_birth %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Parental Information</legend>
    <div class="field">
      <%= f.label :father_name %>
      <%= f.text_field :father_name %>
    </div>
    <div class="field">
      <%= f.label :father_occupation %>
      <%= f.select(:father_occupation, %w{Occupation1 Occupation2 Occupation3 Occupation4 Occupation5 Occupation6}) %>
    </div><br />
    <div class="field">
      <%= f.label :mother_occupation %>
      <%= f.select(:mother_occupation, %w{Occupation1 Occupation2 Occupation3 Occupation4 Occupation5 Occupation6}) %>
    </div><br />
    <div class="field">
      <%= f.label "Total Income" %>
      <%= f.text_field :total_family_income %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Additional Information</legend>
    <div class="field">
      <%= f.label :area_type %>
      <%= f.select(:area_type, %w{Area1 Area2 Area3 Area4 Area5 Area6}) %>
    </div>
    <div class="field">
      <%= f.label :caste %>
      <%= f.select(:caste, %w{Caste1 Caste2 Caste3 Caste4 Caste5 Caste6}) %>
    </div>
    <div class="field">
      <%= f.label :category %>
      <%= f.select(:category, %w{Category1 Category2 Category3 Category4 Category5 Category6}) %>
    </div>
    <div class="field">
      <%= f.label :studied_medium %>
      <%= f.select(:category, %w{English Hindi Kannada Marathi Others}) %>
    </div><br />
    <div class="field">
      <%= f.label "SSLC %age" %>
      <%= f.text_field :sslc_percentage %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Permanent Address</legend>
    <div class="field">
      <%= f.label "Line 1" %>
      <%= f.text_field :pmt_address_line1 %>
    </div>
    <div class="field">
      <%= f.label "Line 2" %>
      <%= f.text_field :pmt_address_line2 %>
    </div>
    <div class="field">
      <%= f.label "Landmark" %>
      <%= f.text_field :pmt_landmark %>
    </div>
    <div class="field">
      <%= f.label "City" %>
      <%= f.text_field :pmt_city %>
    </div>
    <div class="field">
      <%= f.label "State" %>
      <%= f.text_field :pmt_state %>
    </div>
    <div class="field">
      <%= f.label "Country" %>
      <%= f.text_field :pmt_country %>
    </div>
    <div class="field">
      <%= f.label "Pincode" %>
      <%= f.text_field :pmt_pincode %>
    </div>
    <div class="field">
      <%= f.label "Full Address (Import case)" %>
      <%= f.text_area :pmt_full_address %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Current Address</legend>
    <div class="field">
      <%= f.label "Line 1" %>
      <%= f.text_field :cur_address_line1 %>
    </div>
    <div class="field">
      <%= f.label "Line 2" %>
      <%= f.text_field :cur_address_line2 %>
    </div>
    <div class="field">
      <%= f.label "Landmark" %>
      <%= f.text_field :cur_landmark %>
    </div>
    <div class="field">
      <%= f.label "City" %>
      <%= f.text_field :cur_city %>
    </div>
    <div class="field">
      <%= f.label "State" %>
      <%= f.text_field :cur_state %>
    </div>
    <div class="field">
      <%= f.label "Country" %>
      <%= f.text_field :cur_country %>
    </div>
    <div class="field">
      <%= f.label "Pincode" %>
      <%= f.text_field :cur_pincode %>
    </div>
    <div class="field">
      <%= f.label "Full Address (Import Case)" %>
      <%= f.text_area :cur_full_address %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Contact Information</legend>
    <div class="field">
      <%= f.label :primary_phone %>
      <%= f.text_field :primary_phone %>
    </div>
    <div class="field">
      <%= f.label :additional_phone %>
      <%= f.text_field :additional_phone %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Comments</legend>
    <div class="field">
      <%= f.text_area :comments %>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

