<fieldset>
<legend>Student's Yearly Details</legend>
<h3 id="alert">Click Year below to add more details</h3>

<table id="donations">
  <tr>
    <th>Year</th>
    <th>College Name-Address</th>
    <th>College Phone</th>
    <th>Course (Stream)</th>
    <th>Books Given</th>
    <th>Amount Total</th>
    <th>Comments</th>
    <% if can? :update, YearlyDetail %>
      <th>Actions</th>
    <% end %>
  </tr>

<% yearly_details.each do |yearly_detail| %>
  <tr>
    <td><%= link_to "#{yearly_detail.year}", yearly_detail %></td>
    <td><%= yearly_detail.coll_name %> <%= yearly_detail.coll_full_address %></td>
    <td><%= yearly_detail.coll_primary_phone %></td>
    <td><%= yearly_detail.course %> (<%= yearly_detail.stream %>)</td>
    <td><%= yearly_detail.books_given ? "Yes" : "No" %></td>
    <td><%= yearly_detail.amount_total %></td>
    <td><%= yearly_detail.comments %></td>
    <% if can? :update, YearlyDetail %>
      <td>
      <%= link_to 'Edit', edit_yearly_detail_path(yearly_detail) %>
      <% if can? :destroy, YearlyDetail %>
        | <%= link_to 'Destroy', yearly_detail, confirm: 'Are you sure?', method: :delete %>
      <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
</fieldset>
<br />

