<h1>LISTING ALL STUDENTS INFORMATION</h1>

<%= link_to "Upload Students", upload_student_students_path %>

<%= link_to 'Export to EXCEL', students_path(request.parameters.merge({:format => :xls})) %>

<% if can? :create, Student %>
  <%= link_to 'Add New Student', new_student_path %>
<% end %>

<hr />
<%= paginate @students %>
<hr />

<table id="donations">
  <tr>
  <% if current_user.role == "super_admin" %>
    <th>Student ID</th>
  <% end %>
    <th>Name</th>
    <th>District</th>
    <th>Taluka</th>
    <th>VP ID</th>
    <th>Current Full Address</th>
    <th>Primary/Additional Phone</th>
    <th>Total Family Income</th>
    <th>SSLC %</th>
    <th>Comments</th>
    <th>Last Update</th>
    <% if can? :update, Student %>
      <th>Actions</th>
    <% end %>
  </tr>

<% @students.each do |student| %>
  <tr>
  <% if current_user.role == "super_admin" %>
    <td><%= student.id %></td>
  <% end %>
    <td><%= link_to "#{student.first_name} #{student.last_name}", student %></td>
    <td><%= student.district %></td>
    <td><%= student.taluka %></td>
    <td><%= student.vp_id %></td>
    <td><%= student.cur_full_address %></td>
    <td><%= student.primary_phone %>, <%= student.additional_phone %></td>
    <td><%= student.total_family_income %></td>
    <td><%= student.sslc_percentage %></td>
    <td><%= student.comments %></td>
    <td><%= student.updated_at %></td>
    <% if can? :update, Student %>
      <td>
        <%= link_to 'Edit', edit_student_path(student) %>
        <% if can? :destroy, Student %>
          | <%= link_to 'Destroy', student, confirm: 'Are you sure?', method: :delete %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

