<p id="notice"><%= notice %></p>

<%-# Get the list of all unique students for this donor using the below logic -%>
<% all_yearly_details = @student.yearly_details %>
<% all_donor_ids = [] %>
<% all_yearly_details.each do |this_yearly_detail| %>
  <% all_donations = this_yearly_detail.donations %>
  <% all_donations.each do |this_donation| %>
    <% unless all_donor_ids.include?(this_donation.donor_id) %>
      <% all_donor_ids << this_donation.donor_id %>
    <% end %>
  <% end %>
<% end %>

<%= render :partial => 'donor_index', :locals => {:donors=>Donor.find_all_by_id(all_donor_ids).uniq} %>

<%= render :partial => 'yearly_detail_index', :locals => {:yearly_details => @student.yearly_details} %>

<%= render :partial => 'yearly_detail_new', :locals => {:yearly_detail=>YearlyDetail.new(:student_id => @student.id)} %>

<h1>Student Information</h1>

<p>
  <b>District:</b>
  <%= @student.district %>
</p>

<p>
  <b>Taluka:</b>
  <%= @student.taluka %>
</p>

<p>
  <b>Vp:</b>
  <%= @student.vp_id %>
</p>

<p>
  <b>First name:</b>
  <%= @student.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @student.last_name %>
</p>

<p>
  <b>Father name:</b>
  <%= @student.father_name %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @student.date_of_birth %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Pmt address line1:</b>
  <%= @student.pmt_address_line1 %>
</p>

<p>
  <b>Pmt address line2:</b>
  <%= @student.pmt_address_line2 %>
</p>

<p>
  <b>Pmt landmark:</b>
  <%= @student.pmt_landmark %>
</p>

<p>
  <b>Pmt city:</b>
  <%= @student.pmt_city %>
</p>

<p>
  <b>Pmt state:</b>
  <%= @student.pmt_state %>
</p>

<p>
  <b>Pmt country:</b>
  <%= @student.pmt_country %>
</p>

<p>
  <b>Pmt pincode:</b>
  <%= @student.pmt_pincode %>
</p>

<p>
  <b>Pmt full address:</b>
  <%= @student.pmt_full_address %>
</p>

<p>
  <b>Cur address line1:</b>
  <%= @student.cur_address_line1 %>
</p>

<p>
  <b>Cur address line2:</b>
  <%= @student.cur_address_line2 %>
</p>

<p>
  <b>Cur landmark:</b>
  <%= @student.cur_landmark %>
</p>

<p>
  <b>Cur city:</b>
  <%= @student.cur_city %>
</p>

<p>
  <b>Cur state:</b>
  <%= @student.cur_state %>
</p>

<p>
  <b>Cur country:</b>
  <%= @student.cur_country %>
</p>

<p>
  <b>Cur pincode:</b>
  <%= @student.cur_pincode %>
</p>

<p>
  <b>Cur full address:</b>
  <%= @student.cur_full_address %>
</p>

<p>
  <b>Primary phone:</b>
  <%= @student.primary_phone %>
</p>

<p>
  <b>Additional phone:</b>
  <%= @student.additional_phone %>
</p>

<p>
  <b>Father occupation:</b>
  <%= @student.father_occupation %>
</p>

<p>
  <b>Mother occupation:</b>
  <%= @student.mother_occupation %>
</p>

<p>
  <b>Total family income:</b>
  <%= @student.total_family_income %>
</p>

<p>
  <b>Gender:</b>
  <%= @student.gender %>
</p>

<p>
  <b>Area type:</b>
  <%= @student.area_type %>
</p>

<p>
  <b>Caste:</b>
  <%= @student.caste %>
</p>

<p>
  <b>Category:</b>
  <%= @student.category %>
</p>

<p>
  <b>Studied medium:</b>
  <%= @student.studied_medium %>
</p>

<p>
  <b>Sslc percentage:</b>
  <%= @student.sslc_percentage %>
</p>

<p>
  <b>Comments:</b>
  <%= @student.comments %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>

