<% unless @errors.empty? %>
<h1>Failure Entries</h1>
				<ul>
					<% @errors.each do |error| %>
					<li>
						Problems in line number <%= error[0] %>:
						<% error[1].full_messages.each do |msg|%>
						<p><%= msg %> </p>
						<%end%>
					</li>
					<% end %>
				</ul>
<% else %>
	<h1>ALL SUCCESS</h1>
<% end %>
<h1>Success Entries</h1>
<table id="donations">
  <tr>
    <th>District</th>
    <th>Taluka</th>
    <th>VP ID</th>
    <th>Name</th>
    <th>Permanent Address</th>
    <th>Phone</th>
    <th>Gender</th>
    <th>Total Family Income</th>
    <th>Study Medium</th>
    <th>Percentage</th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.district %></td>
    <td><%= student.taluka %></td>
    <td><%= student.vp_id %></td>
    <td><%= student.first_name %> <%= student.last_name %></td>
    <td><%=	student.pmt_full_address %></td>
    <td><%= student.primary_phone %></td>
    <td><%= student.gender %></td>
    <td><%= student.total_family_income %></td>
    <td><%= student.studied_medium %></td>
    <td><%= student.sslc_percentage %></td>
  </tr>
<% end %>
</table>