<h1> Listing All Users </h1>
<% if can? :create, @user %>
<%= link_to 'Add New User', new_user_path %>
<% end %>
<hr />
<%= paginate @users %>
<hr />

<table>
  <tr>
    <th>Email</th>
    <th>Role</th>
    <th>Created_At</th>
  </tr>
<% @users.each do |u| %>
  <tr>
    <td><%= link_to_if(can?(:read, User), "#{u.email}", user_path(u.id)) {} %></td>
    <td><%= "#{u.role}" %></td>
    <td><%= "#{u.created_at}" %></td>
    <td><%= link_to_if(can?(:edit, User), "Edit", edit_user_path(u.id)) {} %></td>
    <td><%= link_to_if(can?(:delete, u), "Destroy", u, :confirm => "Are you sure?", :method => :delete) {} %></td>
  </tr>
<% end %>
<h3><%= link_to_if(can?(:create, User), "Add User", new_user_path) {} %></h3>

