<h1> Listing All Users </h1>
<% if can? :create, @user %>
<%= link_to 'Add New User', new_user_path %>
<% end %>
<hr />
<%= paginate @users %>
<hr />

<table id="donations">
  <tr>
    <th>Email</th>
    <th>Role</th>
    <th>Created_At</th>
    <% if can? :update, User %>
      <th>Actions</th>
    <% end %>
  </tr>
<% @users.each do |u| %>
  <tr>
    <td><%= link_to_if(can?(:read, User), "#{u.email}", user_path(u.id)) {} %></td>
    <td><%= "#{u.role}" %></td>
    <td><%= "#{u.created_at}" %></td>
    <% if can? :update, User %>
      <td>
      <%= link_to "Edit", edit_user_path(u.id) %>
      <% if can? :destroy, User %>
        | <%= link_to "Destroy", u, :confirm => "Are you sure?", :method => :delete %>
      <% end %>
      </td>
    <% end %>
  </tr>
<% end %>

