<h3>Showing Details for User: <%= @user.email %></h3>
<% if can? :update, User %>
<%= link_to "Edit", edit_user_path(@user) %>
  <% if can? :destroy, User %>
    | <%= link_to "Delete", user_path(@user), :confirm => "Are you sure?", :method => :delete %>
  <% end %>
<% end %>

<table>
	<tbody>
		<tr>
			<td>Email:</td>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<td>Role:</td>
			<td><%= @user.role %></td>
		</tr>
	<% if can?(:see_timestamps, User) %>
		<tr>
			<td>Created at:</td>
			<td><%= @user.created_at %></td>
		</tr>
		<tr>
			<td>Last Sign In:</td>
			<td><%= @user.last_sign_in_at %></td>
		</tr>
		<tr>
			<td>Sign In Count:</td>
			<td><%= @user.sign_in_count %></td>
		</tr>
	<% end %>
	</tbody>
</table>

