<h3>Showing Details for User: <%= @user.email %></h3>

<%= link_to_if(can?(:update,@user), "Edit", edit_user_path(@user)) %> |
<%= link_to_if(can?(:delete, @user), "Delete", user_path(@user), :confirm => "Are you sure?", :method => :delete) {} %>

<table>
	<tbody>
		<tr>
			<td>Email:</td>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<td>Role:</td>
			<td><%= @user.role %></td>
		</tr>
	<% if can?(:see_timestamps, User) %>
		<tr>
			<td>Created at:</td>
			<td><%= @user.created_at %></td>
		</tr>
		<tr>
			<td>Last Sign In:</td>
			<td><%= @user.last_sign_in_at %></td>
		</tr>
		<tr>
			<td>Sign In Count:</td>
			<td><%= @user.sign_in_count %></td>
		</tr>
	<% end %>
	</tbody>
</table>


<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

