	<div class="cssplayMenu niceblue">
		<ul>
			<li><%= link_to "Home", root_url %></li>
			<li><%= link_to "Donors &#8250;".html_safe, donors_path %>
				<ul>
				  <li><%= link_to "List All Donors", donors_path %></li>
					<li><%= link_to "Add New Donor", new_donor_path %></li>
					<li><%= link_to "Search / Edit Donors", search_donors_path %></li>
					<li><%= link_to "Link Donations to Students", new_donation_year_link_path %></li>
			  </ul>
		  </li>

			<li><%= link_to "Students &#8250;".html_safe, students_path %>
				<ul>
				  <li><%= link_to "List All Students", students_path %></li>
					<li><%= link_to "Add New Student", new_student_path %></li>
					<li><%= link_to "Search / Edit Students", search_students_path %></li>
					<li><%= link_to "Link Students to Donations", new_donation_year_link_path %></li>
			  </ul>
		  </li>

			<li><%= link_to "Search and Report &#8250;".html_safe, "#" %>
				<ul>
				  <li><%= link_to "Search Donors", search_donors_path %></li>
					<li><%= link_to "Search Students", search_students_path %></li>
					<li><%= link_to "Search Donations", search_donations_path %></li>
					<li><%= link_to "Search Yearly Detail", search_yearly_details_path %></li>
			   </ul>
		  </li>

		  <% if (user_signed_in?) && (current_user.role == "admin") %>
				<li><%= link_to "DropDowns &#8250;".html_safe, "#" %>
					<ul>
					  <li><%= link_to "&#8249; General".html_safe, "#" %>
							<ul>
								<li><%= link_to "City", cities_path %></li>
								<li><%= link_to "State", states_path %></li>
								<li><%= link_to "Country", countries_path %></li>
							</ul>
						</li>
						<li><%= link_to "&#8249; Student".html_safe, "#" %>
							<ul>
								<li><%= link_to "District", student_districts_path %></li>
								<li><%= link_to "Taluka", student_talukas_path %></li>
								<li><%= link_to "Caste", student_castes_path %></li>
								<li><%= link_to "Category", student_categories_path %></li>
								<li><%= link_to "Area Type", student_area_types_path %></li>
								<li><%= link_to "Study Medium", student_study_meds_path %></li>
								<li><%= link_to "Parent Occupation", student_parent_occupations_path %></li>
							</ul>
						</li>
						<li><%= link_to "&#8249; Student YearData".html_safe, "#" %>
							<ul>
								<li><%= link_to "Course", yearly_detail_courses_path %></li>
								<li><%= link_to "Stream", yearly_detail_streams_path %></li>
								<li><%= link_to "Year / Result Year", yearly_detail_years_path %></li>
							</ul>
						</li>
						<li><%= link_to "&#8249; Donor".html_safe, "#" %>
							<ul>
								<li><%= link_to "Title", donor_titles_path %></li>
								<li><%= link_to "Donor Type", donor_types_path %></li>
							</ul>
						</li>
						<li><%= link_to "&#8249; Donor Donation".html_safe, "#" %>
							<ul>
								<li><%= link_to "Purpose", donation_purposes_path %></li>
								<li><%= link_to "Donation Type", donation_types_path %></li>
								<li><%= link_to "Status", donation_statuses_path %></li>
							</ul>
						</li>
					</ul>
				</li>
			<% end %>

			<% if (user_signed_in?) && (current_user.role == "super_admin") %>
				<li><%= link_to "Super Admin &#8250;".html_safe, rails_admin_path, :id => "current" %>
					<ul>
						<li><%= link_to "List All Users", users_path %></li>
						<li><%= link_to "Add New User", new_user_path %></li>
						<li><%= link_to "List Donations", donations_path %></li>
						<li><%= link_to "List Yearly Details", yearly_details_path %></li>
						<li><%= link_to "List All Links", donation_year_links_path %></li>
					</ul>
				</li>
			<% end %>

			<% if (user_signed_in?) %>
		  	<li><%= link_to "LOGOUT", destroy_user_session_path, :method => :delete %></li>
			<% else %>
      	<li><%= link_to "LOGIN", new_user_session_path %></li>
			<% end %>

			<li><a href="#">Menu Color &#8250;</a>
			  <ul class="colorScheme">
				  <li class="red"></li>
				  <li class="orange"></li>
				  <li class="yellow"></li>
				  <li class="green"></li>
				  <li class="blue"></li>
				  <li class="indigo"></li>
				  <li class="violet"></li>
				  <li class="grey"></li>
				  <li class="niceblue"></li>
			  </ul>
		  </li>
		  <li><a href="http://distinctnotion.com/index.php/contact">Contact</a>
		</ul>
		<!-- <span><a href="#x">Close X</a></span> -->
	</div>

