<table id="donations">
  <tr>
    <th>Donor Name</th>
    <th>Amount</th>
    <th>Purpose</th>
    <th>Comment</th>
    <th>Select</th>
  </tr>

<% donations.each do |donation| %>
  <tr>
    <td><%= link_to "#{donation.donor.first_name} #{donation.donor.last_name}", donation.donor %></td>
    <td><%= link_to "#{donation.amount}", donation %></td>
    <td><%= donation.purpose %></td>
    <td><%= donation.comment %></td>
    <td><%= f.radio_button :donation_id, "#{donation.id}" %></td>
  </tr>
<% end %>
</table>

<br />

