<table id="donations">
  <tr>
    <th>Select</th>
    <th>Student ID</th>
    <th>Name</th>
    <th>Year</th>
    <th>College</th>
    <th>Aggregate (Year)</th>
    <th>Total Amt</th>
  </tr>

<% yearly_details.each do |yearly_detail| %>
  <tr>
    <td><%= f.radio_button :yearly_detail_id, "#{yearly_detail.id}" %></td>
    <td><%= yearly_detail.student_id %></td>
    <td><%= link_to "#{yearly_detail.student.first_name} #{yearly_detail.student.first_name}", yearly_detail.student %></td>
    <td><%= link_to "#{yearly_detail.year}", yearly_detail %></td>
    <td><%= yearly_detail.coll_name %></td>
    <td><%= yearly_detail.result_aggregate %> (<%= yearly_detail.result_year %>)</td>
    <td><%= yearly_detail.amount_total %></td>
  </tr>
<% end %>
</table>

<br />

