<h1>Listing All Donation Linked to Student's Year'</h1>

<% if can? :create, @donation_year_link %>
<%= link_to 'Create New Donation to Student Link', new_donation_year_link_path %>
<% end %>

<hr />
<%= paginate @donation_year_links %>
<hr />

<table id="donations">
  <tr>
  <% if current_user.role == "super_admin" %>
    <th>Donation ID</th>
    <th>Yearly Detail ID</th>
  <% end %>
    <th>Linked By</th>
    <th>Linked Amount</th>
    <th>Linked Time</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @donation_year_links.each do |donation_year_link| %>
  <tr>
  <% if current_user.role == "super_admin" %>
    <td><%= donation_year_link.donation_id %></td>
    <td><%= donation_year_link.yearly_detail_id %></td>
  <% end %>
    <td><%= donation_year_link.linked_by %></td>
    <td><%= donation_year_link.linked_amount %></td>
    <td><%= donation_year_link.created_at %></td>
    <td><%= donation_year_link.comments %></td>
    <td><%= link_to 'Show', donation_year_link %></td>
    <td><%= link_to 'Edit', edit_donation_year_link_path(donation_year_link) %></td>
    <td><%= link_to 'Destroy', donation_year_link, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

