<%= form_for(@donation) do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend><%= controller.action_name.humanize %> Donation</legend>
  <% if controller.action_name == "edit" %>
      <%= f.hidden_field :donor_id %>
  <% else %>
    <div class="field">
      <%= f.label :donor_id %>
      <%= f.number_field :donor_id %>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :amount %>
      <%= f.text_field :amount %>
    </div>
    <div class="field">
      <%= f.label :purpose %>
      <%= f.collection_select :purpose,
          DonationPurpose.all(:order => 'donation_purpose'),
          :donation_purpose, :donation_purpose,
          :prompt => "Select Purpose", :include_blank => true %>
    </div>
  <%-# Status and Type should be visible only to admins -%>
  <% if can? :create, Donation %>
    <div class="field">
      <%= f.label :status %>
      <%= f.collection_select :status,
          DonationStatus.all(:order => 'donation_status'), :donation_status, :donation_status,
          :prompt => "Select Status", :include_blank => true %>
    </div>
    <div class="field">
      <%= f.label :donation_type %>
      <%= f.collection_select :donation_type,
          DonationType.all(:order => 'donation_type'), :donation_type, :donation_type,
          :prompt => "Select Type", :include_blank => true %>
    </div>
  <% else %>
    <%= f.hidden_field :status, :value => "Donated" %>
    <%= f.hidden_field :donation_type, :value => "Online" %>
  <% end %>
    <div class="field">
      <%= f.label :comment %>
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>

