<h1>Listing All Donations</h1>

<%= link_to 'Export to EXCEL', donations_path(request.parameters.merge({:format => :xls})) %>

<hr />
<%= paginate @donations %>
<hr />

<table id="donations">
  <tr>
  <% if current_user.role == "super_admin" %>
    <th>Donation ID</th>
    <th>Donor ID</th>
  <% end %>
    <th>Donor Name</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Donation Type</th>
    <th>Purpose</th>
    <th>Donation Date</th>
    <th>Comment</th>
    <% if can? :update, Donation %>
      <th>Actions</th>
    <% end %>
  </tr>

<% @donations.each do |donation| %>
  <tr>
  <% if current_user.role == "super_admin" %>
    <td><%= donation.id %></td>
    <td><%= donation.donor_id %></td>
  <% end %>
    <td><%= link_to "#{donation.donor.first_name} #{donation.donor.last_name}", donation.donor %></td>
    <td><%= link_to "#{donation.amount}", donation %></td>
    <td><%= donation.status %></td>
    <td><%= donation.donation_type %></td>
    <td><%= donation.purpose %></td>
    <td><%= donation.donation_date %></td>
    <td><%= donation.comment %></td>
    <% if can? :update, Donation %>
      <td>
      <%= link_to 'Edit', edit_donation_path(donation) %>
      <% if can? :destroy, Donation %>
        | <%= link_to 'Destroy', donation, confirm: 'Are you sure?', method: :delete %>
      <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if can? :create, Donation %>
  <%= link_to 'New Donation', new_donation_path %>
<% end %>

