<h1>Listing All Donations</h1>

<hr />
<%= paginate @donations %>
<hr />

<table id="donations">
  <tr>
  <% if current_user.role == "super_admin" %>
    <th>Donation ID</th>
    <th>Donor ID</th>
  <% end %>
    <th>Donor Name</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Donation Type</th>
    <th>Purpose</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @donations.each do |donation| %>
  <tr>
  <% if current_user.role == "super_admin" %>
    <td><%= donation.id %></td>
    <td><%= donation.donor_id %></td>
  <% end %>
    <td><%= link_to "#{donation.donor.first_name} #{donation.donor.last_name}", donation.donor %></td>
    <td><%= donation.amount %></td>
    <td><%= donation.status %></td>
    <td><%= donation.donation_type %></td>
    <td><%= donation.purpose %></td>
    <td><%= donation.comment %></td>
    <td><%= link_to 'Show', donation %></td>
    <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
    <td><%= link_to 'Destroy', donation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Donation', new_donation_path %>

