<p id="notice"><%= notice %></p>

<% donor = @donation.donor %>
<%= form_for(@donation) do |f| %>
  <fieldset>
  <legend>Donation Details</legend>
    <h3>Donated By: <%= link_to "#{donor.first_name} #{donor.last_name}", donor %></h3>
    <div class="field">
      <%= f.label :amount %>
      <%= f.text_field :amount, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :status %>
      <%= f.text_field :status, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :donation_type %>
      <%= f.text_field :donation_type, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :purpose %>
      <%= f.text_field :purpose, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :donation_date %>
      <%= f.text_field :donation_date, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :comment %>
      <%= f.text_area :comment, :disabled => true %>
    </div>
    <%= link_to 'Edit', edit_donation_path(@donation) %> |
    <%= link_to 'Back', :back %>
  </fieldset>
<% end %>

<% all_student_ids = [] %>
<% yearly_details = @donation.yearly_details %>
<% yearly_details.each do |this_yearly_detail| %>
  <% unless all_student_ids.include?(this_yearly_detail.student_id) %>
    <% all_student_ids << this_yearly_detail.student_id %>
  <% end %>
<% end %>

<%= render :partial => 'student_index', :locals => {:students=>Student.find_all_by_id(all_student_ids).uniq} %>

