<table id="donations">
  <tr>
    <th>Select</th>
    <th>VP ID</th>
    <th>Student Name</th>
    <th>District</th>
    <th>Taluka</th>
  </tr>

<% students.each do |student| %>
  <tr>
    <td><%= f.radio_button :student_id, "#{student.id}" %></td>
    <td><%= student.vp_id %></td>
    <td><%= link_to "#{student.first_name} #{student.last_name}", student %></td>
    <td><%= student.district %></td>
    <td><%= student.taluka %></td>
  </tr>
<% end %>
</table>

<br />

