<%= form_for(@student_donation_link) do |f| %>
  <% if @student_donation_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_donation_link.errors.count, "error") %> prohibited this student_donation_link from being saved:</h2>

      <ul>
      <% @student_donation_link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<h1>Link Donation with Student</h1>
<hr />

<div class="pageleft">
  <h2 class="choose">Listing Donors and their Donations</h2>
  <%= render :partial => 'donation_index', :locals => {:donations=>Donation.find(:all, :order => "created_at DESC"), :f => f} %>
</div>

<div class="pageleft">
  <h2 class="choose">Listing Students</h2>
  <%= render :partial => 'student_index', :locals => {:students=>Student.find(:all, :order => "created_at DESC"), :f => f} %>
</div>

  <div class="field">
    <%= f.label :linked_by %><br />
    <%= f.text_field :linked_by %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>

