<p id="notice"><%= notice %></p>

<p>
  <b>Student ID:</b>
  <%= @student_donation_link.student_id %>
</p>

<p>
  <b>Donation ID:</b>
  <%= @student_donation_link.donation_id %>
</p>

<p>
  <b>Linked by:</b>
  <%= @student_donation_link.linked_by %>
</p>

<p>
  <b>Comment:</b>
  <%= @student_donation_link.comment %>
</p>


<%= link_to 'Edit', edit_student_donation_link_path(@student_donation_link) %> |
<%= link_to 'Back', student_donation_links_path %>

