<%= form_for(@yearly_detail) do |f| %>
  <% if @yearly_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yearly_detail.errors.count, "error") %> prohibited this yearly_detail from being saved:</h2>

      <ul>
      <% @yearly_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :coll_name %><br />
    <%= f.text_field :coll_name %>
  </div>
  <div class="field">
    <%= f.label :coll_address_line1 %><br />
    <%= f.text_field :coll_address_line1 %>
  </div>
  <div class="field">
    <%= f.label :coll_address_line2 %><br />
    <%= f.text_field :coll_address_line2 %>
  </div>
  <div class="field">
    <%= f.label :coll_landmark %><br />
    <%= f.text_field :coll_landmark %>
  </div>
  <div class="field">
    <%= f.label :coll_city %><br />
    <%= f.text_field :coll_city %>
  </div>
  <div class="field">
    <%= f.label :coll_state %><br />
    <%= f.text_field :coll_state %>
  </div>
  <div class="field">
    <%= f.label :coll_country %><br />
    <%= f.text_field :coll_country %>
  </div>
  <div class="field">
    <%= f.label :coll_pincode %><br />
    <%= f.text_field :coll_pincode %>
  </div>
  <div class="field">
    <%= f.label :coll_full_address %><br />
    <%= f.text_area :coll_full_address %>
  </div>
  <div class="field">
    <%= f.label :coll_primary_phone %><br />
    <%= f.text_field :coll_primary_phone %>
  </div>
  <div class="field">
    <%= f.label :coll_additional_phone %><br />
    <%= f.text_field :coll_additional_phone %>
  </div>
  <div class="field">
    <%= f.label :result_odd %><br />
    <%= f.text_field :result_odd %>
  </div>
  <div class="field">
    <%= f.label :result_even %><br />
    <%= f.text_field :result_even %>
  </div>
  <div class="field">
    <%= f.label :result_aggregate %><br />
    <%= f.text_field :result_aggregate %>
  </div>
  <div class="field">
    <%= f.label :result_year %><br />
    <%= f.text_field :result_year %>
  </div>
  <div class="field">
    <%= f.label :course %><br />
    <%= f.text_field :course %>
  </div>
  <div class="field">
    <%= f.label :stream %><br />
    <%= f.text_field :stream %>
  </div>
  <div class="field">
    <%= f.label :amount_fees %><br />
    <%= f.text_field :amount_fees %>
  </div>
  <div class="field">
    <%= f.label :amount_donation %><br />
    <%= f.text_field :amount_donation %>
  </div>
  <div class="field">
    <%= f.label :amount_bus_pass %><br />
    <%= f.text_field :amount_bus_pass %>
  </div>
  <div class="field">
    <%= f.label :amount_add_on %><br />
    <%= f.text_field :amount_add_on %>
  </div>
  <div class="field">
    <%= f.label :amount_total %><br />
    <%= f.text_field :amount_total %>
  </div>
  <div class="field">
    <%= f.label :chalan_number %><br />
    <%= f.text_field :chalan_number %>
  </div>
  <div class="field">
    <%= f.label :vr_number %><br />
    <%= f.text_field :vr_number %>
  </div>
  <div class="field">
    <%= f.label :books_given %><br />
    <%= f.check_box :books_given %>
  </div>
  <div class="field">
    <%= f.label :books_given_center %><br />
    <%= f.text_field :books_given_center %>
  </div>
  <div class="field">
    <%= f.label :camp_invited %><br />
    <%= f.check_box :camp_invited %>
  </div>
  <div class="field">
    <%= f.label :camp_attended %><br />
    <%= f.check_box :camp_attended %>
  </div>
  <div class="field">
    <%= f.label :camp_date %><br />
    <%= f.date_select :camp_date %>
  </div>
  <div class="field">
    <%= f.label :camp_place %><br />
    <%= f.text_field :camp_place %>
  </div>
  <div class="field">
    <%= f.label :fac_name %><br />
    <%= f.text_field :fac_name %>
  </div>
  <div class="field">
    <%= f.label :fac_address_line1 %><br />
    <%= f.text_field :fac_address_line1 %>
  </div>
  <div class="field">
    <%= f.label :fac_address_line2 %><br />
    <%= f.text_field :fac_address_line2 %>
  </div>
  <div class="field">
    <%= f.label :fac_landmark %><br />
    <%= f.text_field :fac_landmark %>
  </div>
  <div class="field">
    <%= f.label :fac_city %><br />
    <%= f.text_field :fac_city %>
  </div>
  <div class="field">
    <%= f.label :fac_state %><br />
    <%= f.text_field :fac_state %>
  </div>
  <div class="field">
    <%= f.label :fac_country %><br />
    <%= f.text_field :fac_country %>
  </div>
  <div class="field">
    <%= f.label :fac_pincode %><br />
    <%= f.text_field :fac_pincode %>
  </div>
  <div class="field">
    <%= f.label :fac_full_address %><br />
    <%= f.text_area :fac_full_address %>
  </div>
  <div class="field">
    <%= f.label :fac_primary_phone %><br />
    <%= f.text_field :fac_primary_phone %>
  </div>
  <div class="field">
    <%= f.label :fac_additional_phone %><br />
    <%= f.text_field :fac_additional_phone %>
  </div>
  <div class="field">
    <%= f.label :letter1_sent %><br />
    <%= f.check_box :letter1_sent %>
  </div>
  <div class="field">
    <%= f.label :letter2_sent %><br />
    <%= f.check_box :letter2_sent %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
