<%= form_for(@yearly_detail) do |f| %>
  <% if @yearly_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yearly_detail.errors.count, "error") %> prohibited this yearly_detail from being saved:</h2>

      <ul>
      <% @yearly_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend>General Information</legend>
    <% if controller.action_name == "edit" %>
        <%= f.hidden_field :student_id %>
    <% else %>
      <div class="field">
        <%= f.label :student_id %>
        <%= f.number_field :student_id %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :year %>
      <%= f.collection_select :year,
      		YearlyDetailYear.all(:order => 'year'),
        	:year, :year,
        	:prompt => "Select Student Year", :include_blank => true %>
    </div>
    <div class="field">
      <%= f.label :letter1_sent %>
      <%= f.check_box :letter1_sent %>
    </div>
    <div class="field">
      <%= f.label :letter2_sent %>
      <%= f.check_box :letter2_sent %>
    </div>
    <div class="field">
      <%= f.label :comments %>
      <%= f.text_area :comments %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Educational Information</legend>
    <div class="field">
      <%= f.label :result_odd %>
      <%= f.text_field :result_odd %>
    </div>
    <div class="field">
      <%= f.label :result_even %>
      <%= f.text_field :result_even %>
    </div>
    <div class="field">
      <%= f.label :result_aggregate %>
      <%= f.text_field :result_aggregate %>
    </div>
    <div class="field">
      <%= f.label :result_year %>
      <%= f.collection_select :result_year,
      		YearlyDetailYear.all(:order => 'year'),
        	:year, :year,
        	:prompt => "Select Result Year", :include_blank => true %>
    </div>
    <div class="field">
      <%= f.label :course %>
      <%= f.collection_select :course,
      		YearlyDetailCourse.all(:order => 'course'),
        	:course, :course,
        	:prompt => "Select Course", :include_blank => true	%>
    </div>
    <div class="field">
      <%= f.label :stream %>
      <%= f.collection_select :stream,
      		YearlyDetailStream.all(:order => 'stream'),
        	:stream, :stream,
        	:prompt => "Select Stream", :include_blank => true	%>
    </div>
  </fieldset>

  <fieldset>
  <legend>Fees and Amount Details</legend>
    <div class="field">
      <%= f.label :amount_fees %>
      <%= f.text_field :amount_fees %>
    </div>
    <div class="field">
      <%= f.label :amount_donation %>
      <%= f.text_field :amount_donation %>
    </div>
    <div class="field">
      <%= f.label :amount_bus_pass %>
      <%= f.text_field :amount_bus_pass %>
    </div>
    <div class="field">
      <%= f.label :amount_add_on %>
      <%= f.text_field :amount_add_on %>
    </div>
    <div class="field">
      <%= f.label :amount_total %>
      <%= f.text_field :amount_total %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Miscellaneous Information</legend>
    <div class="field">
      <%= f.label :chalan_number %>
      <%= f.text_field :chalan_number %>
    </div>
    <div class="field">
      <%= f.label :vr_number %>
      <%= f.text_field :vr_number %>
    </div>
    <div class="field">
      <%= f.label :books_given %>
      Yes
      <%= f.radio_button :books_given, true %>
      No
      <%= f.radio_button :books_given, false %>
    </div>
    <div class="field">
      <%= f.label :books_given_center %>
      <%= f.text_field :books_given_center %>
    </div>
    <div class="field">
      <%= f.label :camp_invited %>
      Yes
      <%= f.radio_button :camp_invited, true %>
      No
      <%= f.radio_button :camp_invited, false %>
    </div>
    <div class="field">
      <%= f.label :camp_attended %>
      Yes
      <%= f.radio_button :camp_attended, true %>
      No
      <%= f.radio_button :camp_attended, false %>
    </div>
    <div class="field">
      <%= f.label :camp_date %>
      <%= f.date_select :camp_date,
        	:start_year => 2000, :end_year => Time.now.year,
        	:order => [:day, :month, :year],
        	:prompt => true %>
    </div>
    <div class="field">
      <%= f.label :camp_place %>
      <%= f.text_field :camp_place %>
    </div>
  </fieldset>

  <fieldset>
  <legend>College Information</legend>
    <div class="field">
      <%= f.label :coll_name %>
      <%= f.text_field :coll_name %>
    </div>
    <div class="field">
      <%= f.label :coll_address_line1 %>
      <%= f.text_field :coll_address_line1 %>
    </div>
    <div class="field">
      <%= f.label :coll_address_line2 %>
      <%= f.text_field :coll_address_line2 %>
    </div>
    <div class="field">
      <%= f.label :coll_landmark %>
      <%= f.text_field :coll_landmark %>
    </div>
    <div class="field">
      <%= f.label :coll_city %>
      <%= f.select(:coll_city, %w{Bangalore Dharwad Belgaum Mumbai Ranchi NewYork Beijing},
      		:prompt => "Select City", :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label :coll_state %>
      <%= f.select(:coll_state, %w{Maharashtra Karnataka Bihar Charlotte Shanghai},
      		:prompt => "Select State", :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label :coll_country %>
      <%= f.select(:coll_country, %w{India USA China},
      		:prompt => "Select Country", :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label :coll_pincode %>
      <%= f.text_field :coll_pincode %>
    </div>
    <div class="field">
      <%= f.label "Full Address (Import Case)" %>
      <%= f.text_area :coll_full_address %>
    </div>
    <div class="field">
      <%= f.label :coll_primary_phone %>
      <%= f.text_field :coll_primary_phone %>
    </div>
    <div class="field">
      <%= f.label :coll_additional_phone %>
      <%= f.text_field :coll_additional_phone %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Facilitator Information</legend>
    <div class="field">
      <%= f.label :fac_name %>
      <%= f.text_field :fac_name %>
    </div>
    <div class="field">
      <%= f.label :fac_address_line1 %>
      <%= f.text_field :fac_address_line1 %>
    </div>
    <div class="field">
      <%= f.label :fac_address_line2 %>
      <%= f.text_field :fac_address_line2 %>
    </div>
    <div class="field">
      <%= f.label :fac_landmark %>
      <%= f.text_field :fac_landmark %>
    </div>
    <div class="field">
      <%= f.label :fac_city %>
      <%= f.select(:fac_city, %w{Bangalore Dharwad Belgaum Mumbai Ranchi NewYork Beijing},
      		:prompt => "Select City", :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label :fac_state %>
      <%= f.select(:fac_state, %w{Maharashtra Karnataka Bihar Charlotte Shanghai},
      		:prompt => "Select State", :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label :fac_country %>
      <%= f.select(:fac_country, %w{India USA China},
      		:prompt => "Select Country", :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label :fac_pincode %>
      <%= f.text_field :fac_pincode %>
    </div>
    <div class="field">
      <%= f.label "Full Address (Import Case)" %>
      <%= f.text_area :fac_full_address %>
    </div>
    <div class="field">
      <%= f.label :fac_primary_phone %>
      <%= f.text_field :fac_primary_phone %>
    </div>
    <div class="field">
      <%= f.label :fac_additional_phone %>
      <%= f.text_field :fac_additional_phone %>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

