<h1>Listing Yearly Details for All Students</h1>

<%= link_to 'Export to EXCEL', yearly_details_path(request.parameters.merge({:format => :xls})) %>

<hr />
<%= paginate @yearly_details %>
<hr />

<table id="donations">
  <tr>
  <% if current_user.role == "super_admin" %>
    <th>ID</th>
    <th>Student ID</th>
  <% end %>
    <th>Student Name</th>
    <th>Year</th>
    <th>Coll name</th>
    <th>Coll address line1</th>
    <th>Coll address line2</th>
    <th>Coll landmark</th>
    <th>Coll city</th>
    <th>Coll state</th>
    <th>Coll country</th>
    <th>Coll pincode</th>
    <th>Coll full address</th>
    <th>Coll primary phone</th>
    <th>Coll additional phone</th>
    <th>Result odd</th>
    <th>Result even</th>
    <th>Result aggregate</th>
    <th>Result year</th>
    <th>Course</th>
    <th>Stream</th>
    <th>Amount fees</th>
    <th>Amount donation</th>
    <th>Amount bus pass</th>
    <th>Amount add on</th>
    <th>Amount total</th>
    <th>Chalan number</th>
    <th>Vr number</th>
    <th>Books given</th>
    <th>Books given center</th>
    <th>Camp invited</th>
    <th>Camp attended</th>
    <th>Camp date</th>
    <th>Camp place</th>
    <th>Fac name</th>
    <th>Fac address line1</th>
    <th>Fac address line2</th>
    <th>Fac landmark</th>
    <th>Fac city</th>
    <th>Fac state</th>
    <th>Fac country</th>
    <th>Fac pincode</th>
    <th>Fac full address</th>
    <th>Fac primary phone</th>
    <th>Fac additional phone</th>
    <th>Letter1 sent</th>
    <th>Letter2 sent</th>
    <th>Comments</th>
    <th>Actions</th>
  </tr>

<% @yearly_details.each do |yearly_detail| %>
  <tr>
  <% if current_user.role == "super_admin" %>
    <td><%= yearly_detail.id %></td>
    <td><%= yearly_detail.student_id %></td>
  <% end %>
    <td><%= link_to "#{yearly_detail.student.first_name} #{yearly_detail.student.last_name}", yearly_detail.student %></td>
    <td><%= link_to "#{yearly_detail.year}", yearly_detail %></td>
    <td><%= yearly_detail.coll_name %></td>
    <td><%= yearly_detail.coll_address_line1 %></td>
    <td><%= yearly_detail.coll_address_line2 %></td>
    <td><%= yearly_detail.coll_landmark %></td>
    <td><%= yearly_detail.coll_city %></td>
    <td><%= yearly_detail.coll_state %></td>
    <td><%= yearly_detail.coll_country %></td>
    <td><%= yearly_detail.coll_pincode %></td>
    <td><%= yearly_detail.coll_full_address %></td>
    <td><%= yearly_detail.coll_primary_phone %></td>
    <td><%= yearly_detail.coll_additional_phone %></td>
    <td><%= yearly_detail.result_odd %></td>
    <td><%= yearly_detail.result_even %></td>
    <td><%= yearly_detail.result_aggregate %></td>
    <td><%= yearly_detail.result_year %></td>
    <td><%= yearly_detail.course %></td>
    <td><%= yearly_detail.stream %></td>
    <td><%= yearly_detail.amount_fees %></td>
    <td><%= yearly_detail.amount_donation %></td>
    <td><%= yearly_detail.amount_bus_pass %></td>
    <td><%= yearly_detail.amount_add_on %></td>
    <td><%= yearly_detail.amount_total %></td>
    <td><%= yearly_detail.chalan_number %></td>
    <td><%= yearly_detail.vr_number %></td>
    <td><%= yearly_detail.books_given %></td>
    <td><%= yearly_detail.books_given_center %></td>
    <td><%= yearly_detail.camp_invited %></td>
    <td><%= yearly_detail.camp_attended %></td>
    <td><%= yearly_detail.camp_date %></td>
    <td><%= yearly_detail.camp_place %></td>
    <td><%= yearly_detail.fac_name %></td>
    <td><%= yearly_detail.fac_address_line1 %></td>
    <td><%= yearly_detail.fac_address_line2 %></td>
    <td><%= yearly_detail.fac_landmark %></td>
    <td><%= yearly_detail.fac_city %></td>
    <td><%= yearly_detail.fac_state %></td>
    <td><%= yearly_detail.fac_country %></td>
    <td><%= yearly_detail.fac_pincode %></td>
    <td><%= yearly_detail.fac_full_address %></td>
    <td><%= yearly_detail.fac_primary_phone %></td>
    <td><%= yearly_detail.fac_additional_phone %></td>
    <td><%= yearly_detail.letter1_sent %></td>
    <td><%= yearly_detail.letter2_sent %></td>
    <td><%= yearly_detail.comments %></td>
    <td>
      <%= link_to 'Edit', edit_yearly_detail_path(yearly_detail) %> |
      <%= link_to 'Destroy', yearly_detail, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

