<p id="notice"><%= notice %></p>

<% student = @yearly_detail.student %>
<%= form_for(@yearly_detail) do |f| %>
  <fieldset>
  <legend>General Information</legend>
    <h3>Yearly Details for: <%= link_to "#{student.first_name} #{student.last_name}", student %></h3>

    <div class="field">
      <%= f.label :year %>
      <%= f.text_field :year, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :profession_type %>
      <%= f.text_field :profession_type, :disabled => true %>
    </div><br />
    <div class="field">
      <%= f.label :letter1_sent %>
      <%= f.check_box :letter1_sent, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :letter2_sent %>
      <%= f.check_box :letter2_sent, :disabled => true %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Educational Information</legend>
    <div class="field">
      <%= f.label :result_odd %>
      <%= f.text_field :result_odd, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :result_even %>
      <%= f.text_field :result_even, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :result_aggregate %>
      <%= f.text_field :result_aggregate, :disabled => true %>
    </div><br/>
    <div class="field">
      <%= f.label :result_year %>
      <%= f.text_field :result_year, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :course %>
      <%= f.text_field :course, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :stream %>
      <%= f.text_field :stream, :disabled => true %>
    </div>
    <br />
  </fieldset>

  <fieldset>
  <legend>Fees and Amount Details</legend>
    <div class="field">
      <%= f.label :amount_fees %>
      <%= f.text_field :amount_fees, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :amount_donation %>
      <%= f.text_field :amount_donation, :disabled => true %>
    </div><br/>
    <div class="field">
      <%= f.label :amount_bus_pass %>
      <%= f.text_field :amount_bus_pass, :disabled => true %>
    </div><br/>
    <div class="field">
      <%= f.label :amount_add_on %>
      <%= f.text_field :amount_add_on, :disabled => true %>
    </div><br/>
    <div class="field">
      <%= f.label :amount_total %>
      <%= f.text_field :amount_total, :disabled => true %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Miscellaneous Information</legend>
    <div class="field">
      <%= f.label "Cheque Number" %>
      <%= f.text_field :chalan_number, :disabled => true %>
    </div><br/>
    <div class="field">
      <%= f.label "Voucher Number" %>
      <%= f.text_field :vr_number, :disabled => true %>
    </div><br/>
    <div class="field">
      <%= f.label :books_given %>
      <%= f.check_box :books_given, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :books_given_center %>
      <%= f.text_field :books_given_center, :disabled => true %>
    </div><br/>
    <div class="field">
      <%= f.label :camp_invited %>
      <%= f.check_box :camp_invited, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :camp_attended %>
      <%= f.check_box :camp_attended, :disabled => true %>
    </div><br/>
    <div class="field">
      <%= f.label :camp_date %>
      <%= f.date_select :camp_date, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :camp_place %>
      <%= f.text_field :camp_place, :disabled => true %>
    </div>
  </fieldset>

  <fieldset>
  <legend>College Information</legend>
    <div class="field">
      <%= f.label :coll_name %>
      <%= f.text_field :coll_name, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :coll_address_line1 %>
      <%= f.text_field :coll_address_line1, :disabled => true %>
    </div><br/>
    <div class="field">
      <%= f.label :coll_address_line2 %>
      <%= f.text_field :coll_address_line2, :disabled => true %>
    </div><br/>
    <div class="field">
      <%= f.label :coll_landmark %>
      <%= f.text_field :coll_landmark, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :coll_city %>
      <%= f.text_field :coll_city, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :coll_state %>
      <%= f.text_field :coll_state, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :coll_country %>
      <%= f.text_field :coll_country, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :coll_pincode %>
      <%= f.text_field :coll_pincode, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label "Full Address (Import Case)" %>
      <%= f.text_area :coll_full_address, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :coll_primary_phone %>
      <%= f.text_field :coll_primary_phone, :disabled => true %>
    </div><br/>
    <div class="field">
      <%= f.label :coll_additional_phone %>
      <%= f.text_field :coll_additional_phone, :disabled => true %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Facilitator Information</legend>
    <div class="field">
      <%= f.label :fac_name %>
      <%= f.text_field :fac_name, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :fac_address_line1 %>
      <%= f.text_field :fac_address_line1, :disabled => true %>
    </div><br/>
    <div class="field">
      <%= f.label :fac_address_line2 %>
      <%= f.text_field :fac_address_line2, :disabled => true %>
    </div><br/>
    <div class="field">
      <%= f.label :fac_landmark %>
      <%= f.text_field :fac_landmark, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :fac_city %>
      <%= f.text_field :fac_city, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :fac_state %>
      <%= f.text_field :fac_state, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :fac_country %>
      <%= f.text_field :fac_country, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :fac_pincode %>
      <%= f.text_field :fac_pincode, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label "Full Address (Import Case)" %>
      <%= f.text_area :fac_full_address, :disabled => true %>
    </div>
    <div class="field">
      <%= f.label :fac_primary_phone %>
      <%= f.text_field :fac_primary_phone, :disabled => true %>
    </div><br/>
    <div class="field">
      <%= f.label :fac_additional_phone %>
      <%= f.text_field :fac_additional_phone, :disabled => true %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Comments</legend>
    <div class="field">
      <%= f.text_area :comments, :disabled => true %>
    </div>
  </fieldset>
<% end %>

<%= link_to 'Edit', edit_yearly_detail_path(@yearly_detail) %> |
<%= link_to 'Back', :back %>

