<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @yearly_detail.student_id %>
</p>

<p>
  <b>Year:</b>
  <%= @yearly_detail.year %>
</p>

<p>
  <b>Coll name:</b>
  <%= @yearly_detail.coll_name %>
</p>

<p>
  <b>Coll address line1:</b>
  <%= @yearly_detail.coll_address_line1 %>
</p>

<p>
  <b>Coll address line2:</b>
  <%= @yearly_detail.coll_address_line2 %>
</p>

<p>
  <b>Coll landmark:</b>
  <%= @yearly_detail.coll_landmark %>
</p>

<p>
  <b>Coll city:</b>
  <%= @yearly_detail.coll_city %>
</p>

<p>
  <b>Coll state:</b>
  <%= @yearly_detail.coll_state %>
</p>

<p>
  <b>Coll country:</b>
  <%= @yearly_detail.coll_country %>
</p>

<p>
  <b>Coll pincode:</b>
  <%= @yearly_detail.coll_pincode %>
</p>

<p>
  <b>Coll full address:</b>
  <%= @yearly_detail.coll_full_address %>
</p>

<p>
  <b>Coll primary phone:</b>
  <%= @yearly_detail.coll_primary_phone %>
</p>

<p>
  <b>Coll additional phone:</b>
  <%= @yearly_detail.coll_additional_phone %>
</p>

<p>
  <b>Result odd:</b>
  <%= @yearly_detail.result_odd %>
</p>

<p>
  <b>Result even:</b>
  <%= @yearly_detail.result_even %>
</p>

<p>
  <b>Result aggregate:</b>
  <%= @yearly_detail.result_aggregate %>
</p>

<p>
  <b>Result year:</b>
  <%= @yearly_detail.result_year %>
</p>

<p>
  <b>Course:</b>
  <%= @yearly_detail.course %>
</p>

<p>
  <b>Stream:</b>
  <%= @yearly_detail.stream %>
</p>

<p>
  <b>Amount fees:</b>
  <%= @yearly_detail.amount_fees %>
</p>

<p>
  <b>Amount donation:</b>
  <%= @yearly_detail.amount_donation %>
</p>

<p>
  <b>Amount bus pass:</b>
  <%= @yearly_detail.amount_bus_pass %>
</p>

<p>
  <b>Amount add on:</b>
  <%= @yearly_detail.amount_add_on %>
</p>

<p>
  <b>Amount total:</b>
  <%= @yearly_detail.amount_total %>
</p>

<p>
  <b>Chalan number:</b>
  <%= @yearly_detail.chalan_number %>
</p>

<p>
  <b>Vr number:</b>
  <%= @yearly_detail.vr_number %>
</p>

<p>
  <b>Books given:</b>
  <%= @yearly_detail.books_given %>
</p>

<p>
  <b>Books given center:</b>
  <%= @yearly_detail.books_given_center %>
</p>

<p>
  <b>Camp invited:</b>
  <%= @yearly_detail.camp_invited %>
</p>

<p>
  <b>Camp attended:</b>
  <%= @yearly_detail.camp_attended %>
</p>

<p>
  <b>Camp date:</b>
  <%= @yearly_detail.camp_date %>
</p>

<p>
  <b>Camp place:</b>
  <%= @yearly_detail.camp_place %>
</p>

<p>
  <b>Fac name:</b>
  <%= @yearly_detail.fac_name %>
</p>

<p>
  <b>Fac address line1:</b>
  <%= @yearly_detail.fac_address_line1 %>
</p>

<p>
  <b>Fac address line2:</b>
  <%= @yearly_detail.fac_address_line2 %>
</p>

<p>
  <b>Fac landmark:</b>
  <%= @yearly_detail.fac_landmark %>
</p>

<p>
  <b>Fac city:</b>
  <%= @yearly_detail.fac_city %>
</p>

<p>
  <b>Fac state:</b>
  <%= @yearly_detail.fac_state %>
</p>

<p>
  <b>Fac country:</b>
  <%= @yearly_detail.fac_country %>
</p>

<p>
  <b>Fac pincode:</b>
  <%= @yearly_detail.fac_pincode %>
</p>

<p>
  <b>Fac full address:</b>
  <%= @yearly_detail.fac_full_address %>
</p>

<p>
  <b>Fac primary phone:</b>
  <%= @yearly_detail.fac_primary_phone %>
</p>

<p>
  <b>Fac additional phone:</b>
  <%= @yearly_detail.fac_additional_phone %>
</p>

<p>
  <b>Letter1 sent:</b>
  <%= @yearly_detail.letter1_sent %>
</p>

<p>
  <b>Letter2 sent:</b>
  <%= @yearly_detail.letter2_sent %>
</p>

<p>
  <b>Comments:</b>
  <%= @yearly_detail.comments %>
</p>


<%= link_to 'Edit', edit_yearly_detail_path(@yearly_detail) %> |
<%= link_to 'Back', yearly_details_path %>
