<!DOCTYPE html>
<html>
<head>
  <title>Vpapp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "stylesheets/default.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%  if notice  %>
  <p class="notice"><%= notice %></p>
<% end %>
<%  if alert  %>
  <p class="alert"><%= alert %></p>
<% end %>
  
<div class="topright">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign Out", destroy_user_session_path %><br />
    You have 
    <% if current_user.role %>
      <%= current_user.role %>
    <% else %>
      General User
    <% end %>
    privilleges.
  <% else %>
    <%= link_to "Sign Up", new_user_registration_path %> OR <%= link_to "Sign In", new_user_session_path %>
  <% end %>
</div>
<%= yield %>

</body>
</html>
