<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vidya Poshak Management System</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "stylesheets/default.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    /* color switcher script */
    $(document).ready(function() {

    $(".colorScheme li").click(function(){
    $(".colorScheme li").css('borderColor','#fff');
    $(this).css('borderColor','#888');

    $(".cssplayMenu").removeClass().addClass('cssplayMenu');
    color = $(this).attr('class');
    $(".cssplayMenu").addClass(color);
    });

    });
  </script>

</head>

<body>
<h1><%= link_to "Vidya Poshak Management System", root_url %></h1>

<!-- Common Menu for all pages of the application -->
<%= render "shared/menu" %>

<!-- Common SignIn or SignOut for all pages of the application -->
<%= render "shared/signin_signout" %>

<%  if notice  %>
  <p class="notice"><%= notice %></p>
<% end %>
<%  if alert  %>
  <p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

<!-- Common Footer for all pages of the application -->
<%= render "shared/footer" %>

</body>
</html>

